
.header{
    background-color: rgb(245, 223, 196);
}

.header_area{
    margin-bottom: 15px;
}

.menu_area{
    margin-top: 8px;
}

.ref{
    color: black !important;
}

.area_pesquisa{
    margin-top: 8px;
    color: black;
}

.active{
    background-color: rgba(227, 211, 132, 0.333) !important;
    color: black !important;
}

.main{
    padding: 20px;
    background-color: antiquewhite;
}

h1{
    color:rgb(224, 152, 74);
    text-align: center;
}

h2{
    color:rgb(224, 152, 74);
    font-size: 35px;
}

h3{
    color:rgb(224, 152, 74);
    text-align: center;
    font-size: 40px;
}

h4{
    color:rgb(224, 152, 74);
    text-align: left;
    font-size: 40px;
}

h5{
    font-size: 18px;
}

.carousel_descricao{
    font-size: 20px;
}
@media screen and (max-width: 992px) {
    .carousel-item {
        width: 100%;
        padding-left: 20%;
    }

    .container-descricao {
        margin-top: 10%;
        padding-left: 10%;
        margin-right: 18%;
        margin-bottom: 10%;
    }
}
.card{
    background-color: rgb(224, 192, 153);
}

.dropdown{
    text-align: end;
}

.img-avaliador{
    width: 70px;
    height: 50px;
    border-radius: 100px;
}

.profile-header-img {
    padding: 54px;
}

.titule_news{
    font-size: 20px;
}

.news-item{
    background-color: rgb(224, 192, 153);
    color: black;
    border-radius: 100px;
    text-align: center;
}

.active{
    background-color: rgba(227, 211, 132, 0.333) !important;
    color: black !important;
}

.contexto_area{
    text-align: left;
}

.novidades_area{
    text-align: left;
}

.texto{
    text-align: end;
}

.footer{
    margin-top: 20px;
}

.footer_area{
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
}